/ {
        pointer_accel: pointer_accel {
            status = "okay";
            compatible = "zmk,input-processor-acceleration";
            #input-processor-cells = <0>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_X INPUT_REL_Y>;
        };
    };
